*{
    margin:0; 
    padding:0;
}

body{
    background-color:rgb(255, 255, 255);
}
/*Header*/
    header{
        background-color: green;
        margin-top: 20px;
        color: rgb(255, 255, 255);
        height: 10%;
        justify-content: space-between;
        display: flex;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    }

    .logo img {
    float: left;
    width: 60px;
    height: auto;
    margin: 10px;
    }

    a{
        text-decoration: none;
        color: #ffffff;
    }

    nav {
    display: flex;
    align-items: center;
    }

    .nav-links {
        padding-top: 10%;
        padding-left: 30%;
        list-style: none;
        display: flex;
        gap: 5px;
    }

    nav ul li a:hover {
    color: green;
    background-color: #ffffff;
    }
/*Header*/
/*Footer*/
    footer{

        background-color: orangered;
        margin-top: 20%;
        color: rgb(255, 255, 255);
        height: 10%;
        display: grid;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.5);
        overflow:hidden;
    }

    .footer img {
        float: right;
    width: 60px;
    height: auto;
    margin: 10px;
    display: grid;
    align-items: right;
    padding-right: 10px;
    }

    .footer p {
        padding-top: 20px;
        float: left;
        margin-top: 100px;
        display: flex;
        margin: 10px;
        padding-left: 10px;
    }
    /**/
        a{
        }
    /*/
/*Footer*/
/*Comienzo*/
    section{
    display: flex;
    height: 60%;
    }

    .left{
        width: 50%;
        margin-top: 20px;
        background-color: aquamarine;
        font-family: navy;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.5);
        margin-right: 20px;
    }

    .right{
        width: 50%;
        margin-top: 20px;
        background-color: aquamarine;
        font-family: navy;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.5);
        margin-right: 20px;
    }

    h1{
        padding: 20px;
    }
    p{
        padding-top: 20px;
        padding-left: 20px;
    }
/*Comienzo*/
/*Listas*/
.list{
    display: block;
   height: 200px;
}

.left-list{
    margin-top: 20px;
    background-color: aquamarine;
    font-family: navy;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    margin-right: 20px;
}

.right-list{
     margin-top: 20px;
    background-color: aquamarine;
    font-family: navy;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    margin-right: 20px;
}

li{
    padding-left: 20px;
}

#enlace{
    text-decoration: underline;
    color: blue;
    padding-top: 10px;
}
/*Listas*/
/*Tablas*/
.left-table{
    width: 100%;
    
     margin-top: 20px;
    background-color: aquamarine;
    font-family: navy;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    margin-right: 20px;
}

#table-text{
    padding-top: 1px;
}

thead{
    background-color: red;
    color: #ffffff;
}
tbody{
    color: green;
    background-color: #ffffff;
}
#cent{
    background-color: green;
    color: #ffffff;
}
#end{
    color: yellow;
    background-color: blue;
    text-align: center;
}
/*Tablas*/
/*Multi*/
 video, audio {
    display: block;
    margin: 10px 0;
    max-width: 100%;
 }

 .left-multi{
    width: 70%;
    margin-top: 20px;
    background-color: lightblue;
    font-family: navy;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    margin-right: 20px;
}

.right-multi{
     width: 60%;
     margin-top: 20px;
    background-color: lightgreen;
    font-family: navy;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    margin-right: 20px;
}
/*Multi*/