* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #ffe0ff;
}

/*Header*/
  header{
    margin: 5px;
    border-radius: 5px;
      background-color: #ffffff;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    margin: 20px;
    width: 60px;
    height: auto;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 40%;
  }

  .nav-links a {
    color: #320d51;
    background-color: #e8d6f6;
    padding: 2px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.5s ease;
  }

  nav ul li a:hover {
    color: #ff4081;
  }

  header #main {
    color: #ff4081; /*Posicion actual resaltado*/
  }

  header #main:hover {
    color: #ff4081;
  }
/*Header*/

/*Section*/
  .contenido{
    display: flex;
    float: left;
    width: 70%;
    background-color: #62ffdd;
    margin: 20px auto;
    padding: 20px;
  }
  /*TABLAS*/
    table {
        width: 80%;
        border-collapse: collapse;
        background-color: #b3ffee;
    }

    th, td {
        border: 1px solid #6c9a90;
        padding: 8px;
        text-align: center;
    }
  /*TABLAS*/
/*Section*/

/*Aside*/
  aside{
    display: flex;
    width: 30%;
    margin-left: 50px;
    height: 500px;
    border-radius: 40px;
    background-color: #f9acac;
  }
/*Aside*/

/*Footer*/
  footer {
      clear: left;
      background-color: #1f2937;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 40px;
  }

/*Footer*/